<% if (post.link){ %>
<h1 itemprop="name">
  <a
    class="<%= class_name %>"
    href="<%- url_for(post.link) %>"
    target="_blank"
    itemprop="url"
    ><%= post.title %></a
  >
</h1>
<% } else if (post.title){ %> <% if (index){ %>
<h1 itemprop="name">
  <a class="<%= class_name %>" href="<%- url_for(post.path) %>"
    ><%= post.title %></a
  >
</h1>
<% } else { %>
<h1 class="<%= class_name %>" itemprop="headline name"><%= post.title %></h1>
<% } %> <% } %>

<div class="author-banner">
  <% let post_obj = post %> <% if (post_author(post_obj)){ %> <% if
  (post.author.length > 1){ %>
  <div class="author-header"><h2>Co Authors</h2></div>
  <% } else if (post.author.length == 1){ %>
  <div class="author-header"></div>
  <% } %> <% post.author.forEach(function(au) { %>
  <div class="author-name">
    <img src="<%=au.avatar %>" width="40px" />
    <div class="infos">
      <a href="<%=au.linkedin %>" class="link"><%=au.name %></a>

      <!-- <div class="sub-title">
        Published on <%= date(post.date, 'MMMM DD, yyyy') %>
      </div> -->
    </div>
  </div>
  <% }); %> <% } %>
</div>
